<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!--... Your other codes ...-->
    <style>
        body {
        font-family: Arial, sans-serif;
      }
      .sidebar {
        width: 200px;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        background-color: #333;
        color: white;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      .sidebar a {
        color: white;
        text-decoration: none;
      }

      .content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 220px; /* Sidebar width + some additional space */
      }

      .content {
        width: 100%;
        display: flex;
      }

      #checkbox-container {
        margin: 20px;
      }

      .input-container {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        width: 100%;
      }
      
      #stock-ticker {
        font-size: 18px;
        padding: 10px;
      }

      #update-chart-analog {
        font-size: 18px;
        padding: 10px 20px;
      }

      #container {
        flex-grow: 1; /* This allows the chart to take the remaining space */
        height: 1000px;
        margin: 20px;
      }   
    </style>
  </head>
  <body>
    <div class="sidebar">
      <img src="{% static 'logo.png' %}" alt="Logo" />
      <a href="{% url 'anchored' %}">Home</a>
      <a href="{% url 'vwaps' %}">Anchored VWAPS</a>
    </div>
    <div class="content-wrapper">
        <div class="content">
            <div id="checkbox-container">
                <input type="checkbox" id="average-check" name="series" value="mean" checked> Average<br>
                <input type="checkbox" id="zero-check" name="series" value="median" checked> Median<br>
                <input type="checkbox" id="one-check" name="series" value="bestfit" checked> BestFit<br>
            </div>
            <!-- Highcharts display -->
            <div class="border" id="container"></div>
        </div>
        <div class="input-container">
            <input type="text" id="stock-ticker-analog" placeholder="Enter stock ticker">
            <button id="update-chart-analog">Update Chart</button>
        </div>
        <!-- Spinner -->
        <div id="spinner-container" style="display: none; margin: 20px auto; text-align: center;">
            <div class="spinner-border text-primary" role="status"></div>
            <div>Loading... Calculations Take ~ 1 Minute</div>
        </div>
    </div>
  </body>


    
    <!-- Chartjs libraries -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/stock/modules/data.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/modules/accessibility.js"></script>



    <script>
        
        // These will store your fetched data
    var average, median, bestfit;

    function updateChart(stockTicker) {
        // Show the spinner
        document.getElementById('spinner-container').style.display = 'block';

        fetch('/anchored/analogs?stock_ticker_analog=' + stockTicker, {
            headers: {
            'X-Requested-With': 'XMLHttpRequest',
            'Content-Type': 'application/json'
            }
        })
        .then(response => {
            if (response.ok) {
            return response.json();
            } else {
            throw new Error('Failed to fetch data for stock ticker: ' + stockTicker);
            }
        })
        .then(d => {
            // Store your fetched data
            average = d.average;
            median = d.median;
            bestfit = d.bestfit;

            stock = d.stock;

            // Update the chart using your fetched data
            updateSeries();

            // Hide the spinner
            document.getElementById('spinner-container').style.display = 'none';
        })
        .catch(error => {
            console.error('Error:', error);

            // Hide the spinner
            document.getElementById('spinner-container').style.display = 'none';
        });
    }

    // New function to update the series
    function updateSeries() {
        
        var series = [];

        // Check if each checkbox is checked, and if so, add the corresponding data to the series
        if (document.getElementById('average-check').checked) {
            series.push({
                data: average,
                name: 'average'
            });
        } else {
            series.push({
                data: [],
                name: 'average'
            });
        }
        if (document.getElementById('zero-check').checked) {
            series.push({
                data: median,
                name: 'median'
            });
        } else {
            series.push({
                data: [],
                name: 'median'
            });
        }
        if (document.getElementById('one-check').checked) {
            series.push({
                data: bestfit,
                name: 'bestfit'
            });
        } else {
            series.push({
                data: [],
                name: 'bestfit'
            });
        }

        console.log(series)

        // Update the chart with the new series
        chart.update({
            series: series
        })
        ;
    }

        // Update the chart when the checkboxes change
        document.getElementById('average-check').addEventListener('change', updateSeries);
        document.getElementById('zero-check').addEventListener('change', updateSeries);
        document.getElementById('one-check').addEventListener('change', updateSeries);



        document.getElementById('update-chart-analog').addEventListener('click', function () {
        var stockTicker = document.getElementById('stock-ticker-analog').value;
        updateChart(stockTicker);
        });
      
      
      
      
      
      average = {{ average |safe }}
      stock = '{{ stock|safe }}'



      chart = Highcharts.chart('container', {
            title: {
                text: 'Analog Projections'
            },

            subtitle: {
                text: stock
            },

            tooltip: {
                enabled: false
                },

            plotOptions: {
                series: {
                    states: {
                        hover:{
                            enabled:false
                        }
                    },
                marker: {
                    enabled: false,
                    states: {
                        hover: {
                            enabled: false
                        }
                    }
                    }
                }
            },

            xAxis: {
                crosshair: {
                    snap: false,
                    label: {
                            enabled: true,  
                        },
                },
                plotLines: [{
                        value: 89,
                        width: 2,
                        color: 'black',
                        dashStyle: 'dash',
                        label: {
                            text: 'Start Projection',
                            style: {
                                color: 'black',
                                fontWeight: 'bold',
                                fontSize:14
                            }
                        }      
                }]
            },
            
            yAxis: {
                labels:{
                    align:'left'
                },
                crosshair: {
                    snap: false,
                    label: {
                            enabled: true,
                            format: '{value:.2f}',
                            align:'left'
                        },    
                },
                },

            series: [{
                data: average,
                lineWidth: 5,
                name: 'average',
                opacity:1
            },
            {
                data: average,
                lineWidth:5,
                name: 'median',
                color:'grey',
                opacity:1

            },
            {
                data: average,
                lineWidth:5,
                name: 'bestfit',
                color:'orange',
                opacity:1

            },
            ],

        });


      
      
    </script>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    

