<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <style>
      body {
      font-family: Arial, sans-serif;
    }
    .sidebar {
      width: 200px;
      height: 100vh;
      position: fixed;
      left: 0;
      top: 0;
      background-color: #333;
      color: white;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .sidebar a {
      color: white;
      text-decoration: none;
    }

    .input-container {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
    
    #stock-ticker {
      font-size: 18px;
      padding: 10px;
    }

    #update-chart-analog {
      font-size: 18px;
      padding: 10px 20px;
    }

    #container {
      max-width: 70%;
      margin-left: auto;
      margin-right: auto;
    }   
  </style>
  </head>
  <body>
    <div class="sidebar">
      <img src="{% static 'logo.png' %}" alt="Logo" />
      <a href="{% url 'anchored' %}">Home</a>
      <a href="{% url 'vwaps' %}">Anchored VWAPS</a>
    </div>
	  <div class="content">
    <div class="input-container" style="margin: 20px auto;">
      <input type="text" id="stock-ticker" placeholder="Enter stock ticker">
      <button id="update-chart">Update Chart</button>
    </div>
    <!-- Highcharts display -->
    <div class="border" id="container" style="min-width: 310px; height: 1000px; margin: 0 auto"></div>
	  </div>
    </body>
    </html>
    
    <!-- Chartjs libraries -->
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/data.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/modules/accessibility.js"></script>
    
    <script>
      function updateChart(stockTicker) {
        fetch('/anchored/vwaps?stock_ticker=' + stockTicker, {
          headers: {
            'X-Requested-With': 'XMLHttpRequest',
            'Content-Type': 'application/json'
          }
        })
          .then(response => {
            console.log(response)
            if (response.ok) {
              return response.json();
            } else {
              throw new Error('Failed to fetch data for stock ticker: ' + stockTicker);
            }
          })
          .then(d => {
            data = d.data;
            vwap1 = d.maxloc;
            vwap2 = d.minloc;
            vwap3 = d.volloc;
            stock =  d.stock;
            miny = d.miny;
            maxy =  d.maxy;

            let avgDiff = 0;
            for (let i = 1; i < data.length; i++) {
              avgDiff += data[i][0] - data[i - 1][0];
            }
            avgDiff /= data.length - 1;

            // Generate 10 fake data points
            const futureDataPoints = 30;
            const fakeData = [];
            let lastDate = data[data.length - 1][0];
            for (let i = 0; i < futureDataPoints; i++) {
              lastDate += avgDiff;
              fakeData.push([lastDate, 0, 0, 0, 0]);
            }

            // Append the fake data points to the data array
            data = data.concat(fakeData);
            
            chart.update({
              title: {
                text: stock
            },
            yAxis: {
            min:miny,
            max:maxy,
            labels:{
              align:'left'
            }
            },
            series: [
            {
            type: 'candlestick',
            name: stock,
            data: data,   
            },
            {
            type: 'line',
            name: 'High Lock',
            data: vwap1,
            },
            {
            type: 'line',
            name: 'High Lock',
            data: vwap2,
            },
            {
            type: 'line',
            name: 'High Lock',
            data: vwap3,
            },
          ]
            });
          })
          .catch(error => {
            console.error('Error:', error);
          });
      }

      document.getElementById('update-chart').addEventListener('click', function () {
        var stockTicker = document.getElementById('stock-ticker').value;
        updateChart(stockTicker);
      });
      
      data = {{ data|safe }}
      vwap1 = {{ maxloc|safe }}
      vwap2 = {{ minloc|safe }}
      vwap3 = {{ volloc|safe }}
      miny = {{ miny|safe }}
      maxy = {{ maxy|safe }}
      stock = '{{ stock|safe }}'

      let avgDiff = 0;
      for (let i = 1; i < data.length; i++) {
        avgDiff += data[i][0] - data[i - 1][0];
      }
      avgDiff /= data.length - 1;

      // Generate 10 fake data points
      const futureDataPoints = 30;
      const fakeData = [];
      let lastDate = data[data.length - 1][0];
      for (let i = 0; i < futureDataPoints; i++) {
        lastDate += avgDiff;
        fakeData.push([lastDate, 0, 0, 0, 0]);
      }

      // Append the fake data points to the data array
      data = data.concat(fakeData);
      
      
      console.log(data)

      chart = Highcharts.stockChart('container', {
        tooltip: {
        enabled: false
        },
        navigator: {
            enabled: false
        },
        rangeSelector: {
          selected: 1,
          enabled: false, // Disable the zoom buttons
        },
        title: {
          text: stock,
        },
        xAxis: {
          crosshair: {
            snap: false,
            label: {
                    enabled: true,  
                },
          },
        },
        yAxis: {
          min:miny,
          max:maxy,
          labels:{
            align:'left'
          },
          crosshair: {
            snap: false,
            label: {
                    enabled: true,
                    format: '{value:.2f}',
                    align:'left'
                },    
          },
        },
        series: [
          {
            type: 'candlestick',
            name: stock,
            data: data,
            color: 'red',
            lineColor: 'red',
            upColor: 'green',
            upLineColor: 'green',
          },
          {
            type: 'line',
            name: 'High Lock',
            data: vwap1,
            color: 'blue',
            lineWidth: 3,
            dashStyle: 'Dash',
          },
          {
            type: 'line',
            name: 'Low Lock',
            data: vwap2,
            color: 'blue',
            lineWidth: 3,
            dashStyle: 'Dash',
          },
          {
            type: 'line',
            name: 'Vol Lock',
            data: vwap3,
            color: 'orange',
            lineWidth: 3,
            dashStyle: 'Dash',
          },
        ],
        plotOptions: {
            series: {
                states: {
                    inactive: {
                        opacity: 1
                    }
                }
            }
        }
        });

      document.getElementById('update-chart').addEventListener('click', function() {
        var stockTicker = document.getElementById('stock-ticker').value;
      });
    </script>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    

